@font-face {
    font-display: swap;
    font-family: Bogle;
    font-style: normal;
    font-weight: 700;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Bogle;
    font-style: normal;
    font-weight: 400;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-a78c/fcfae9b6-2f69-4f89-beed-f0eeb4237946/v1/BogleWeb_subset-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: EverydaySans;
    font-style: normal;
    font-weight: 700;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-581c/294cde33-8d74-4638-a582-6a0f942c0c18/v1/ESB.woff2) format("woff2"), url(https://i5.walmartimages.com/dfw/63fd9f59-3aae/d676f7c9-1cd0-42d5-8c69-8716fc3cfac6/v1/ESB.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: EverydaySans;
    font-style: normal;
    font-weight: 400;
    src: url(https://i5.walmartimages.com/dfw/63fd9f59-7d95/36d53a64-d69e-4b5d-aec5-5205e3b975f5/v1/ES.woff2) format("woff2"), url(https://i5.walmartimages.com/dfw/63fd9f59-c69a/e5fb3359-b4fe-4603-88f7-451f2aa96e9a/v1/ES.woff) format("woff")
}